// Shop Collections Section
.c-section--shop {

  .c-section__shop-collections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .heading {
    width: 40%;

    @include x-large {
      width: 50%;
    }

    @include large {
      width: 75%;
    }

    @include small {
      width: 95%;
    }
  }

  .item-card {
    width: 32%;
    margin-top: 3.75em;
    
    &:nth-child(4),
    &:nth-child(5) {
      width: 49%; 
    }

    @include large {
      width: 48%;
      
      &:nth-child(4) {
        width: 48%; 
      }

      &:nth-child(5) {
        margin-left: auto;
        margin-right: auto;
        width: 65%;
      }
    }

    @include small {
    
      &:nth-child(5) {
        width: 100%; 
      }
    }
    
  }
}