<div class="c-section c-section--newsletter page-container">
  <!-- TEXT CONTENT -->
  <h3 class="subheading">{{ section.settings.subheading }}</h3>
  <h2 class="heading">{{ section.settings.heading }}</h2>

  <div class="newsletter-signup">
    <!-- NEWSLETTER -->
    <form method="post" action="/contact#ContactFooter" id="ContactFooter" accept-charset="UTF-8" class="contact-form newsletter-signup__form" novalidate="novalidate">
      <input type="hidden" name="form_type" value="customer" />
      <input type="hidden" name="utf8" value="✓" />
      <input type="hidden" name="contact[tags]" value="newsletter">
      <div class="input-group newsletter-signup__input-group">
        <input type="email" name="contact[email]" id="ContactFooter-email" class="input-group__field newsletter__input newsletter-signup__input-field" value="" placeholder="Email Address" aria-label="Email address" aria-required="true" required autocorrect="off"  autocapitalize="off">
        <span class="input-group__btn newsletter-signup__submit">
          <button type="submit" class="btn newsletter__submit btn--primary" name="commit" >
            <span class="newsletter__submit-text--large">Subscribe</span>
          </button>
        </span>
      </div>                 
    </form>
  </div>
  
</div>

{% schema %}
{
  "name": "newsletter-section",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Section Details"
    },
    {
      "id": "title",
      "type": "text",
      "label": "Section Name",
      "default": "Newsletter"
    },
    {
      "type": "header",
      "content": "Section Content"
    },
    {
      "id": "subheading",
      "type": "text",
      "label": "Subheading Text"
    },
    {
      "id": "heading",
      "type": "text",
      "label": "Heading Text"
    }
  ],
  "presets": [
    {
      "category": "Custom - Gold Goat",
      "name": "Custom - Newsletter Signup"
    }
  ]
}
{% endschema %}
