.password-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  // ----------- SECTION HEADER -----------
  .password-header {
    display: flex;
    flex: 10%;

    &__inner {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .fa-sign-in-alt {
      padding-left: .75em;
    }
  }

  // ----------- SECTION MAIN -----------
  .password-main {
    display: flex;
    flex: 90%;

    &__inner {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
  }

  .password-content {

    .main-logo {
      max-width: 150px;
      margin: 0 auto 3rem;
    }

    .heading {
      color: $accent-color;
    }

    .subheading {
      margin-top: 1rem;
      font-size: 16px;
    }
  }

  .password-content--rte {
    margin: 100px 0 15px;

    .para {
      width: 30%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .fa-envelope {
    padding-left: 10px;
  }
}