<div class="page-container c-page c-page--discover">

  <h1 class="heading heading--s2 text-center c-page__heading">{{ page.title }}</h1>
  {% section 'additional-section-8' %}
  {% section 'additional-section-9' %}

</div>