<div class="page-container c-page">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1 class="heading heading--s2 text-center c-page__heading">{{ page.title }}</h1>
      </div>

      <div class="rte para--semi-bold">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
